@charset 'utf-8';

.weather-info {
    border: 1px solid #cccccc;
    padding: 10px;
    background: white;
    height: 300px;
}

.weather-icon span{
    display: block;
    height: 120px;
}

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
